<!-- views/partials/footer.ejs -->

<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-6 single-footer-widget">
      <h4>Japan Store</h4>
      <p>Website này đang trong quá trình hoàn thiện.</p>
    </div>
    <div class="col-lg-2 col-md-6 single-footer-widget">
      <h4>Hỗ trợ</h4>
      <ul>
        <li><a href="#">Kiểm tra đơn hàng</a></li>
        <li><a href="#">Chính sách vận chuyển</a></li>
        <li><a href="#">Quy định đổi hàng</a></li>
        <li><a href="#">Chính sách bảo mật thông tin</a></li>
      </ul>
    </div>
    <div class="col-lg-2 col-md-6 single-footer-widget">
      <h4>Hướng dẫn</h4>
      <ul>
        <li><a href="#">Hướng dẫn đặt hàng</a></li>
        <li><a href="#">Hướng dẫn thanh toán</a></li>
      </ul>
    </div>
    <div class="col-lg-4 col-md-6 single-footer-widget">
      <h4>Đăng ký nhận tin</h4>
      <p>Bạn có thể tin tưởng chúng tôi, chúng tôi chỉ gửi thông tin khuyến mại.</p>
      <div class="form-wrap" id="mc_embed_signup">
        <form target="_blank" action="" method="get" class="form-inline">
          <input class="form-control" name="EMAIL" placeholder="Nhập Email của bạn..." onfocus="this.placeholder = ''"
            onblur="this.placeholder = 'Nhập Email của bạn...'" required="" type="email">
          <button class="click-btn btn btn-default">Đăng ký</button>
          <div style="position: absolute; left: -5000px;">
            <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
          </div>

          <div class="info"></div>
        </form>
      </div>
    </div>
  </div>
  <div class="footer-bottom row align-items-center">
    <p class="footer-text m-0 col-lg-8 col-md-12">
      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      Copyright &copy;
      <script>document.write(new Date().getFullYear());</script> All rights reserved | Bản quyền thuộc về <a href="#"
        target="_blank">Duong Trong Nghia</a>
      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    </p>
    <div class="col-lg-4 col-md-12 footer-social">
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
    </div>
  </div>
</div>