<div class="top_menu">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="float-left">
          <p>Phone: (+84) 965677620</p>
          <p>Email: trongnghia.it.ht@gmail.com</p>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="float-right">
          <ul class="right_side">
            <li>
              <a href="#">
                Đăng nhập
              </a>
            </li>
            <li>
              <a href="#" data-toggle="modal" data-target="#exampleModal">
                Đăng ký
              </a>
            </li>
            <li>
              <a href="#">
                Liên hệ
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main_menu">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light w-100">
      <!-- Brand and toggle get grouped for better mobile display -->
      <a class="navbar-brand logo_h" href="#">
        <img src="" alt="" />
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse offset w-100" id="navbarSupportedContent">
        <div class="row w-100 mr-0">
          <div class="col-lg-7 pr-0">
            <ul class="nav navbar-nav center_nav pull-right">
              <li class="nav-item" id="nav_home">
                <a class="nav-link" href="#">Trang chủ</a>
              </li>
              <li class="nav-item submenu dropdown" id="nav_category">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">Mua sắm</a>
                <ul class="dropdown-menu">
                  <li class="nav-item">
                    <a class="nav-link" href="#">Giày thể thao</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Giày cao gót</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Giày da</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">giày đế đinh</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Hướng dẫn mua hàng</a>
              </li>
              <li class="nav-item" id="nav_contact">
                <a class="nav-link" href="">Liên hệ</a>
              </li>
            </ul>
          </div>

          <div class="col-lg-5 pr-0">
            <ul class="nav navbar-nav navbar-right right_nav pull-right">
              <li class="nav-item">
                <a href="#" class="icons">
                  <i class="ti-search" aria-hidden="true"></i>
                </a>
              </li>

              <li class="nav-item">
                <a href="#" class="icons">
                  <i class="ti-shopping-cart"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>
<div class="header-blow-divide"></div>