<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <header class="header_area">
        <% include ../partials/header %>
    </header>
    
    <!-- modal sign up  -->
    <% include ../partials/signup %>
    <!--  -->

    <!--================Category Product Area =================-->
    <section class="cat_product_area section_gap">
        <div class="container">
            <div class="row flex-row-reverse">
                <div class="col-lg-9">
                    <div class="product_top_bar">
                        <div class="left_dorp">
                            <!-- sorting -->
                            <select class="sorting">
                                <option value="1">Default sorting</option>
                                <option value="2">Default sorting 01</option>
                                <option value="4">Default sorting 02</option>
                            </select>
                            <select class="show">
                                <option value="1">Show 12</option>
                                <option value="2">Show 14</option>
                                <option value="4">Show 16</option>
                            </select>
                        </div>
                    </div>

                    <!-- List product -->
                    <div class="latest_product_inner">
                        <div class="row">
                            <% include ../products/product_category %>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="left_sidebar_area">
                        <aside class="left_widgets p_filter_widgets">
                            <div class="l_w_title">
                                <h3>Danh mục sản phẩm</h3>
                            </div>
                            <div class="widgets_inner">
                                <ul class="list">
                                    <li>
                                        <a href="#">Danh mục 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Danh mục 2</a>
                                    </li>
                                    <li>
                                        <a href="#">Danh mục 3</a>
                                    </li>
                                    <li>
                                        <a href="#">Danh mục 4</a>
                                    </li>
                                    <li>
                                        <a href="#">Danh mục 5</a>
                                    </li>
                                    <li>
                                        <a href="#">Danh mục 6</a>
                                    </li>
                                    <li>
                                        <a href="#">Danh mục 7</a>
                                    </li>
                                </ul>
                            </div>
                        </aside>

                        <aside class="left_widgets p_filter_widgets">
                            <div class="l_w_title">
                                <h3>Thương hiệu</h3>
                            </div>
                            <div class="widgets_inner">
                                <ul class="list">
                                    <li>
                                        <a href="#">Thương hiệu 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Thương hiệu 2</a>
                                    </li>
                                    <li class="active">
                                        <a href="#">Thương hiệu 3</a>
                                    </li>
                                    <li>
                                        <a href="#">Thương hiệu 4</a>
                                    </li>
                                    <li>
                                        <a href="#">Thương hiệu 5</a>
                                    </li>
                                </ul>
                            </div>
                        </aside>

                        <aside class="left_widgets p_filter_widgets">
                            <div class="l_w_title">
                                <h3>Color Filter</h3>
                            </div>
                            <div class="widgets_inner">
                                <ul class="list">
                                    <li>
                                        <a href="#">Black</a>
                                    </li>
                                    <li>
                                        <a href="#">Black Leather</a>
                                    </li>
                                    <li class="active">
                                        <a href="#">Black with red</a>
                                    </li>
                                    <li>
                                        <a href="#">Gold</a>
                                    </li>
                                    <li>
                                        <a href="#">Spacegrey</a>
                                    </li>
                                </ul>
                            </div>
                        </aside>

                        <aside class="left_widgets p_filter_widgets">
                            <div class="l_w_title">
                                <h3>Lọc theo giá</h3>
                            </div>
                            <div class="widgets_inner">
                                <div class="range_item">
                                    <div id="slider-range"></div>
                                    <div class="">
                                        <label for="amount">Giá : </label>
                                        <input type="text" id="amount" readonly />
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Category Product Area =================-->

    <footer class="footer-area section_gap">
        <% include ../partials/footer %>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <% include ../partials/script %>
    <!--  -->

    <script src="javascripts/category.js"></script>


</body>

</html>