<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <!-- modal sign up  -->
    <% include ../partials/signup %>
    <!--  -->
    
    <header class="header_area">
        <% include ../partials/header %>
    </header>

    <!-- ================ contact section start ================= -->
    <section class="section_gap">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="contact-title">Gửi Email cho chúng tôi</h2>
                </div>
                <div class="col-lg-8 mb-4 mb-lg-0">
                    <form class="form-contact contact_form" id="contactForm" novalidate="novalidate"
                        novalidate="novalidate">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <textarea class="form-control w-100" name="message" cols="30" rows="9"
                                        placeholder="Nhập tin nhắn"></textarea>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input class="form-control" name="name" type="text"
                                        placeholder="Nhập tên của bạn">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input class="form-control" name="email" type="email"
                                        placeholder="Nhập Email của bạn">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <input class="form-control" name="subject" type="text"
                                        placeholder="Nhập tiêu đề">
                                </div>
                            </div>
                        </div>
                        <div class="form-group mt-lg-3">
                            <button type="" class="main_btn">Gửi tin nhắn</button>
                        </div>
                    </form>


                </div>

                <div class="col-lg-4">
                    <div class="media contact-info">
                        <span class="contact-info__icon"><i class="ti-home"></i></span>
                        <div class="media-body">
                            <h3>Hà Nội</h3>
                            <p>Rosemead, CA 91770</p>
                        </div>
                    </div>
                    <div class="media contact-info">
                        <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                        <div class="media-body">
                            <h3><a href="#">(+84) 965677620</a></h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="media contact-info">
                        <span class="contact-info__icon"><i class="ti-email"></i></span>
                        <div class="media-body">
                            <h3><a href="#">trongnghia.it.ht@gmail.com</a></h3>
                            <p>Gửi cho chúng tôi bất cứ khi nào!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ================ contact section end ================= -->

    <!-- Footer -->
    <footer class="footer-area section_gap">
        <% include ../partials/footer %>
    </footer>
    <!-- End footer -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <% include ../partials/script %>
    <!--  -->

     <!-- contact js -->
     <script src="javascripts/jquery.form.js"></script>
     <script src="javascripts/jquery.validate.min.js"></script>
     <script src="javascripts/contact.js"></script>
</body>

</html>