<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>
  <header class="header_area">
    <% include ../partials/header %>
  </header>

  <!-- modal sign up  -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2>Đăng ký</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/users/register" method="POST">
            <div class="form-group">
              <label>Username</label>
              <input type="text" class="form-control" name="username" required="required">
            </div>
            <div class="form-group">
              <label>Email Address</label>
              <input type="email" class="form-control" name="email" required="required">
            </div>
            <div class="form-group">
              <label>Password</label>
              <input type="password" class="form-control" name="password" required="required">
            </div>
            <div class="form-group">
              <label>Confirm Password</label>
              <input type="password" class="form-control" name="confirm_password" required="required">
            </div>
            <div class="form-group">
              <label class="checkbox-inline">
                <input type="checkbox" required="required">
                I accept the
                <a href="#">Terms of Use</a>
                &
                <a href="#">Privacy Policy</a>
              </label>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-lg">Đăng ký</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--  -->

  <!--================Home Banner Area =================-->
  <section class="home_banner_area mb-40">
    <div class="banner_inner d-flex align-items-center">
      <div class="container">
        <div class="banner_content row">
          <div class="col-lg-12">
            <p class="sub text-uppercase">men Collection</p>
            <h3><span>Show</span> Your <br />Personal <span>Style</span></h3>
            <h4>Fowl saw dry which a above together place.</h4>
            <a class="main_btn mt-40" href="#">Mua ngay</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================End Home Banner Area =================-->

  <!-- Start feature Area -->
  <section class="feature-area section_gap_bottom_custom">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="single-feature">
            <a href="#" class="title">
              <i class="flaticon-money"></i>
              <h3>Money back gurantee</h3>
            </a>
            <p>Shall open divide a one</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="single-feature">
            <a href="#" class="title">
              <i class="flaticon-truck"></i>
              <h3>Giao hàng miễn phí</h3>
            </a>
            <p>Áp dụng cho đơn hàng có giá trị 200.000 VND trở lên</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="single-feature">
            <a href="#" class="title">
              <i class="flaticon-support"></i>
              <h3>Alway support</h3>
            </a>
            <p>Shall open divide a one</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="single-feature">
            <a href="#" class="title">
              <i class="flaticon-blockchain"></i>
              <h3>Secure payment</h3>
            </a>
            <p>Shall open divide a one</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End feature Area -->

  <!--================ New Product Area =================-->
  <section class="new_product_area section_gap_top section_gap_bottom_custom">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="main_title">
            <h2><span>Sản phẩm mới</span></h2>
            <p>Bring called seed first of third give itself now ment</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <div class="new_product">
            <h5 class="text-uppercase">collection of 2019</h5>
            <h3 class="text-uppercase">Men’s summer t-shirt</h3>
            <div class="product-img">
              <img class="img-fluid" src="" alt="" />
            </div>
            <h4>$120.70</h4>
            <a href="#" class="main_btn">Thêm vào giỏ hàng</a>
          </div>
        </div>

        <div class="col-lg-6 mt-5 mt-lg-0">
          <div class="row">
            <!-- product_new view -->
            <div class="col-lg-6 col-md-6">
              <div class="single-product">
                <div class="product-img">
                  <!-- Link picture of product -->
                  <img class="img-fluid w-100" src="" alt="" />
                  <div class="p_icon">
                    <a href="#">
                      <i class="ti-shopping-cart"></i>
                    </a>
                  </div>
                </div>
                <div class="product-btm">
                  <a href="#" class="d-block">
                    <h4>Tên sản phẩm</h4>
                  </a>
                  <div class="mt-3">
                    <span class="mr-4">Giá sản phẩm</span>
                    <del>Giá gốc</del>
                  </div>
                </div>
              </div>
            </div>
            <!--  -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================ End New Product Area =================-->

  <!--================ Inspired Product Area =================-->
  <section class="inspired_product_area section_gap_bottom_custom">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="main_title">
            <h2><span>Tổng quan sản phẩm</span></h2>
            <p>Bring called seed first of third give itself now ment</p>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- product view -->
        <div class="col-lg-3 col-md-6">
          <div class="single-product">
            <div class="product-img">
              <!-- Link picture of product -->
              <img class="img-fluid w-100" src="" alt="" />
              <div class="p_icon">
                <a href="#">
                  <i class="ti-shopping-cart"></i>
                </a>
              </div>
            </div>
            <div class="product-btm">
              <a href="#" class="d-block">
                <h4>Tên sản phẩm</h4>
              </a>
              <div class="mt-3">
                <span class="mr-4">Giá sản phẩm</span>
                <del>Giá gốc</del>
              </div>
            </div>
          </div>
        </div>
        <!--  -->
      </div>
    </div>
  </section>
  <!--================ End Inspired Product Area =================-->

  <footer class="footer-area section_gap">
    <% include ../partials/footer %>
  </footer>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <% include ../partials/script %>
  <!--  -->
</body>

</html>